*,
::after,
::before {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background: #f2f3f7 !important;
}

.thumb-wrapper {
  padding: 25px 15px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-width: 5rem;
}

.carousel-inner {
  margin-bottom: 3rem;
}

.carousel-inner img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px !important;
  height: 400px;
}

.product-anchor {
  color: black;
}

.logoStore {
  width: 20rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.profile-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.kategori {
  position: absolute;
  width: 10rem;
  left: 0rem; /* Initially hide the menu off-screen */
  z-index: 998;
  transition: 0.2s; /* Shorter transition time */
  background-color: rgba(12, 6, 6, 0.201);
  height: 13rem;
  text-align: left;
  border: 3px;
  border-bottom-right-radius: 9px;
}

.kategori a, .kategori h2 {
  color: black;
  text-decoration: none;
}

.kategori li:hover {
  background-color: rgb(246, 238, 238);
  border: 9px;
  border-radius: 3px;
}

#menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.bx-menu {
  display: block;
}

.bx-x {
  display: none;
}


#js-pembayaran {
  transition: ease 3s;
}

#js-product-card {
  transition: all 0.3s linear;
}

.js-carousel-btn {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
}

.js-to-left-btn {
  left: 0;
  top: 50%;
}
.js-to-right-btn {
  right: 0;
  top: 50%;
}
