* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.logo {
  text-align: center;
  margin-top: -1900px;
  margin-left: 160px;
  margin-right: 180px;
  margin-bottom: 100px;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(/image/back6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: fit-content;
  background-size: cover;
  backdrop-filter: blur(3px);
  min-height: 150vh;
}

a {
  text-decoration: none;
  color: blue;
}


/* badan login */
.wrapper {
  position: relative;
  width: 450px;
  height: 500px;
  margin-top: -100px;
  margin-left: -850px;
  margin-right: 190px;
  margin-bottom: -200px;
  background: rgba(255, 255, 255, 0.064);
  border: 2px solid rgba(255, 255, 255, 0.995);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* judul login */
.wrapper h2 {
  font-size: 2em;
  color: rgb(253, 253, 253);
  text-align: center;
}

/* bagian input */
.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid white;
  margin: 35px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box i {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: white;
  line-height: 57px;
}

/* bagian "remember me" & "lupa password" */

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label {
  color: white;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* tombol login */

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

/* bagian bikin aku baru */

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p {
  color: white;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
